<header id="header">
  <div class="logo">
    <h3 class="logo-des" routerLink="/home">Shopping Cart</h3>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="/cart"><img width="25px" src="./assets/img/icons/shopping-cart-60.png" />
          <span class="malign">CART <span class="badge" *ngIf="productscount">{{productscount}}</span></span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</header>
