#header {
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
.logo {
  width: 30%;
  float: left;
}
h3.logo-des {
  color: #258e89;
  margin: 15px 25px;
  font-weight: bold;
  font-size: 24px;
}
span.malign {
  position: relative;
  top: -5px;
  left: 5px;
  font-weight: bold;
}
span.badge {
  background: red;
  font-size: 10px;
  color: #ffffff;
  border-radius: 5px;
  position: relative;
  top: -8px;
  padding: 5px;
}
nav.navbar {
  float: right;
  width: 70%;
}
.navbar > ul {
  margin: 0px;
  padding: 0px;
  float: right;
}
.navbar > ul > li {
  list-style: none;
  float: left;
}
.navbar > ul > li > a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #258e89;
}
