<app-header></app-header>
<section id="cart">
  <h3>Items in your cart</h3>
  <div class="cart-left">
    <div class="cart-items" *ngFor="let items of cartitems; let i = index">
      <div class="cart-item-left">
        
        <img
          width="100px;"
          src="./assets/img/{{ items.imagename }}"
          alt=""
        />
      </div>
      <div class="cart-items-center">
        <label>Quantity : </label><br/>
          <select class="quantity"  [(ngModel)]="Quantity[i]" (change)="quantitychange($event.target.value,i)">
            <option value="undefined" selected disabled>Select</option>
            <option  *ngFor="let q of [1,2,3,4,5]" value="{{q}}">{{q}}</option>
          </select>
      </div>
      <div class="cart-item-right">
        <span>{{ items.totalprice }} /-</span
        ><span class="overline">{{ items.ogprice }} /-</span>
        <button
          *ngIf="cartitems.length > 0"
          class="button"
          (click)="removeitem(i)"
        >
          Remove Item
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="noitemsincart" *ngIf="cartitems.length == 0">
      <h4>Cart is Empty ..!</h4>
    </div>
  </div>

  <div class="cart-right" *ngIf="cartitems.length != 0">
    <div class="box">
      <h4>Total Items : {{cartitems.length}}</h4>
      <h4>Total Price : {{grandtotal}} /-</h4>
      <button type="button" class="checkoutbtn" (click)="finalCheckout()">Proceed to Checkout</button>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
