#cart {
  width: 90%;
  margin-left: 5%;
  margin-top:2%;
  
}
.cart-left {
  float: left;
  width: 60%;
  background: #f1f1f1;
  max-height: 500px;
  overflow-y: auto
}
.cart-right {
  width: 30%;
  float: left;
  margin-left: 5%;
}
.cart-item-left {
  float: left;
  width: 30%;
}
.cart-items-center{
  float: left;
  width: 20%;
}
.cart-item-right {
  float: right;
  width: 50%;
}
.button {
  display: block;
  margin: 10px 0px;
}

h4.phead {
  margin: 0px;
}

.cart-items {
  border-bottom: 1px solid #ccc;
  margin: 5px 0px;
  padding: 5px;
}

.checkoutbtn {
  background: orangered;
  color: #f1f1f1;
  padding: 10px 15px;
  border: 0px solid;
  cursor: pointer;
}
.bg-dark{
  background: #ccc;
}
