#products {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    float: left;
  }
  #filtersec{
      width: 20%;
      float: left;
  }
  .item {
    max-width: 25%;
    background: #cccccc;
    padding: 15px;
    margin: 15px;
    width: 25%;
  }
  .item > h4 {
    margin: 0px;
  }
  .text-control{
      display: block;
      padding: 10px;
      width: 80%;
      margin-left: 5px;
      margin-top: 15px;
  }
  .button {
    display: block;
    margin: 10px 0px;
  }