<app-header></app-header>

<section id="products-sect">
    <div id="filtersec">
        <input #myInput [(ngModel)]="searchText" (input)="fnsearchname()" class="text-control" placeholder="Search By Name">
    </div>
    <div id="products">
        <div class="item" *ngFor="let products of productslist; let i = index">
            <img src="./assets/img/{{ products.imagename }}" alt="" />
            <h4>{{ products.pname }}</h4>
            <span>{{ products.price }} /-</span
            ><span class="overline">{{ products.ogprice }} /-</span>
            <button class="button" (click)="addtocart(products)">Add Cart</button>
        </div>
    </div>
</section>
      

