/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 25px;
  font-family: "Muli", sans-serif;
}
img {
  max-width: 100%;
}
.clearfix {
  clear: both;
}
.subhead {
  display: block;
  font-size: 24px;
  margin: 25px 20px;
}
.overline {
  text-decoration: line-through;
  font-size: 10px;
  margin-left: 10px;
}
