<app-header></app-header>

<section id="banner">
  <h3 class="banner-head">LET'S SHOP</h3>
  <p class="banner-para">New items arrived..</p>
  <a routerLink="/products" class="abut">SHOW PRODUCTS</a>
</section>

<section id="products-sect">
  <h3 class="subhead">Featured Products</h3>
  <div id="products">
      <ng-container *ngFor="let products of productslist; let i = index">
      <div class="item" *ngIf="i<4">
        <img src="./assets/img/{{ products.imagename }}" alt="" />
        <h4>{{ products.pname }}</h4>
        <span>{{ products.price }} /-</span
        ><span class="overline">{{ products.ogprice }} /-</span>
      </div>
  </ng-container>
  </div>
  <div class="showall">
    <a routerLink="/products">Show all products</a>
  </div>
</section>
