#banner {
  background: url("../../assets/img/nolii-products-05.jpg") no-repeat;
  height: 250px;
  padding: 10% 15%;
}
.banner-head {
  font-size: 56px;
  margin: 0px;
  color: #fff;
}
.banner-para {
  font-size: 24px;
  color: #fff;
}
a.abut {
  border: 1px solid #ffffff;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
  display: inline-block;
  transition: all 1s ease;
}
a.abut:hover {
  color: #ffffff;
  background: orangered;
}
.showall{
  text-align: right;
  padding: 20px;
}
.showall > a{
  display: inline-block;
  padding: 12px;
  border: 1px solid #cccccc;
  text-decoration: none;
  color:#424242;
  margin-right: 20px;
}
#products {
  display: flex;
  flex-wrap: wrap;
}
.item {
  max-width: 25%;
  background: #cccccc;
  padding: 15px;
  margin: 15px;
  width: 20%;
}
.item > h4 {
  margin: 0px;
}
.button {
  display: block;
  margin: 10px 0px;
}
